/* styles go here */

.block {
  margin-bottom: 20px;
}

.formField {
  display: block;
}

.inline {
  display: inline;
}

.formField:not(:last-child) {
  margin-bottom: 10px;
}

.formField:last-child {
  margin-bottom: 0;
}
